################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Implementacija/OffroadAdventure/.vs
/Implementacija/OffroadAdventure/OffroadAdventure/bin/Debug/net8.0/OffroadAdventure.dll
