@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Vaša lozinka je promijenjena";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaša lozinka je promijenjena <a asp-page="./Login">Prijavite se</a>.
</p>
