@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">
    <div class="left-side">
        <img src="~/img/atv.png" alt="ATV" class="atv-img" />
    </div>

    <div class="right-side">
        <h3 class="title">Rezerviši svoje vozilo već danas!</h3>
        <p class="subtitle">Pretvori običan dan u nezaboravnu avanturu!</p>
        <a href="/Home/PonudaVozila" class="offer-button">Ponuda vozila</a>
    </div>
</div>

<div class="bottom-links">
    <a href="/Home/Recenzije">Recenzije</a>
    <a href="/Home/ONama">O nama</a>
</div>
