@{
    ViewData["Title"] = "O nama";
}

<div class="onama-wrapper">
    <div class="onama-tekst">
        <h2>O nama</h2>
        <p>
            OffroadAdventure je više od obične platforme za rentanje vozila. <br />
            Mi smo zajednica ljubitelja prirode, adrenalina i slobode.
        </p>

        <p>
            Naša priča je počela iz čiste strasti prema istraživanju nepoznatog i želje da to omogućimo i drugima.
            Bez obzira da li planiraš jednodnevni izlet u prirodu, vikend avanturu u planinama ili dužu ekspediciju kroz divljinu,
            kod nas ćeš pronaći pouzdana offroad vozila spremna za svaki izazov.
        </p>

        <p>
            Svako vozilo u našoj ponudi pažljivo je odabrano, redovno servisirano i spremno da te odvede tamo gdje putevi prestaju.
            Cijenimo tvoje povjerenje, zato smo razvili sistem jednostavne rezervacije, transparentne cijene bez skrivenih troškova
            i program lojalnosti koji te nagrađuje svakom novom vožnjom.
        </p>

        <p>Mi ne iznajmljujemo samo vozila – mi ti pomažemo da stvoriš priče koje ćeš dugo pamtiti.</p>

        <p><strong>OffroadAdventure – jer prava avantura počinje gdje asfalt prestaje.</strong></p>
    </div>

    <div class="onama-mapa">
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2900.339603490976!2d18.69824977661909!3d43.36992267070576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134cd158cb5bcbab%3A0x83d1bd87db0f5a4b!2sCamp%20Sutjeska!5e0!3m2!1sen!2sba!4v1747697494690!5m2!1sen!2sba" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
        <div class="kontakt-info">
            <p>📍 Popov most, Tjentište 73311</p>
            <p>📞 038 250 470</p>
            <p>📧 OffroadAdventure@gmail.com</p>
        </div>
    </div>
</div>
