<div class="vozila-wrapper">
    <div class="vozila-header">
        <h2>Trenutno dostupna vozila</h2>
        <div class="vozila-datum">
            <input type="date" />
            <input type="date" />
        </div>
    </div>

    <div class="vozila-body">
        <div class="vozila-lijeva-strana">
            <div class="vozila-filters">
                <select>
                    <option>Cijena</option>
                </select>
                <select>
                    <option>Vrsta Vozila</option>
                </select>
                <input type="text" placeholder="Pretraga" class="search-box" />
            </div>


            <div class="lista-scroll"
            <div class="vozila-lista">
                <div class="vozilo-kartica">
                    <div class="vozilo-slika"></div>
                    <div class="vozilo-info">
                        <strong>Naziv vozila</strong>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                    </div>
                    <div class="vozilo-cijena">
                        <span>Cijena</span>
                        <strong>0,00 KM</strong>
                    </div>
                </div>
                    <div class="vozilo-kartica">
                    <div class="vozilo-slika"></div>
                    <div class="vozilo-info">
                        <strong>Naziv vozila</strong>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                    </div>
                    <div class="vozilo-cijena">
                        <span>Cijena</span>
                        <strong>0,00 KM</strong>
                    </div>
                </div>    <div class="vozilo-kartica">
                    <div class="vozilo-slika"></div>
                    <div class="vozilo-info">
                        <strong>Naziv vozila</strong>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                    </div>
                    <div class="vozilo-cijena">
                        <span>Cijena</span>
                        <strong>0,00 KM</strong>
                    </div>
                </div>    <div class="vozilo-kartica">
                    <div class="vozilo-slika"></div>
                    <div class="vozilo-info">
                        <strong>Naziv vozila</strong>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                    </div>
                    <div class="vozilo-cijena">
                        <span>Cijena</span>
                        <strong>0,00 KM</strong>
                    </div>
                </div>    <div class="vozilo-kartica">
                    <div class="vozilo-slika"></div>
                    <div class="vozilo-info">
                        <strong>Naziv vozila</strong>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                    </div>
                    <div class="vozilo-cijena">
                        <span>Cijena</span>
                        <strong>0,00 KM</strong>
                    </div>
                </div>    <div class="vozilo-kartica">
                    <div class="vozilo-slika"></div>
                    <div class="vozilo-info">
                        <strong>Naziv vozila</strong>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                    </div>
                    <div class="vozilo-cijena">
                        <span>Cijena</span>
                        <strong>0,00 KM</strong>
                    </div>
                </div>

                <div class="vozilo-kartica">
                    <div class="vozilo-slika"></div>
                    <div class="vozilo-info">
                        <strong>Naziv vozila</strong>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                        <p>Neke informacije o vozilu</p>
                    </div>
                    <div class="vozilo-cijena">
                        <span>Cijena</span>
                        <strong>0,00 KM</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="vozila-desna-strana">
            <p>Napravite korisnički račun.<br />Ostvarite pravo na popuste!</p>
            <a href="/Home/SaznajteVise" class="saznaj-vise">Saznajte više</a>
            <a href="/Home/Rezervacija" class="btn-rezervisi">Rezerviši vozilo</a>
        </div>
    </div>
</div>
