@model OffroadAdventure.Models.ZahtjevZaRentanje

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ZahtjevZaRentanje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="korisnik_id" class="control-label"></label>
                <select asp-for="korisnik_id" class ="form-control" asp-items="ViewBag.korisnik_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="datumOd" class="control-label"></label>
                <input asp-for="datumOd" class="form-control" />
                <span asp-validation-for="datumOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumDo" class="control-label"></label>
                <input asp-for="datumDo" class="form-control" />
                <span asp-validation-for="datumDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brojVozila" class="control-label"></label>
                <input asp-for="brojVozila" class="form-control" />
                <span asp-validation-for="brojVozila" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statusZahtjeva" class="control-label"></label>
                <select asp-for="statusZahtjeva" class="form-control"></select>
                <span asp-validation-for="statusZahtjeva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="popust" class="control-label"></label>
                <input asp-for="popust" class="form-control" />
                <span asp-validation-for="popust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cijena" class="control-label"></label>
                <input asp-for="cijena" class="form-control" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ime" class="control-label"></label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prezime" class="control-label"></label>
                <input asp-for="prezime" class="form-control" />
                <span asp-validation-for="prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brojTelefona" class="control-label"></label>
                <input asp-for="brojTelefona" class="form-control" />
                <span asp-validation-for="brojTelefona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dodatniZahtjev" class="control-label"></label>
                <input asp-for="dodatniZahtjev" class="form-control" />
                <span asp-validation-for="dodatniZahtjev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
